<section id="about" data-spy="scroll" data-target="#about" data-offset="0" class="m-5 p-5" style="background-color: #000000BB;">
  <p class="span-head">What is "Critical Index"?</p>
  <p class="span-body">"Critical Index" is a RPG/Tabletop SaaS that
    allows Player Characters (PCs) & Dungeon Masters (DMs) to remotely
    run a campaign with only a web-conference client and the software.
    Alternately, if the campaign is completely housed within Critical
    Index, both DMs & PCs would be able to participate in the game
    without need of a hard cover rule book and copious notes. Within
    Critical Index, DMs would have access to all the rules and
    references necessary to build out a full campaign, from large scope
    cosmology/mythos to individual NPCs and adventures (including
    "dungeon" mapping). PCs will be able to create characters with as
    much feel as they would normally have if they were building a
    character from any player handbook.</p>
  <p></p>
  <p class="span-head">That's cool, but... </p>
  <p class="span-body">Let us break it down for you.</p>
  <p></p>
  <p class="span-body">It's hard to be a Dungeon Master nowadays -
    there's so much to keep track of. Initiative rolls, who failed their
    "will" save, who's stabbing whom with what under the cover of
    darkness...and why, DEAR GOD WHY, won't your players just follow the
    nicely laid adventure that you spent weeks preparing for and now
    you're in a rush to come up with an alternative adventure from the
    shreds that they left you all because they thought they saw
    something shiny and now you have to look like everything's under
    control and you planned this all along... *breathe*</p>
  <p></p>
  <p class="span-body">It's not just hard for the DM though - it's hard
    for the PC's too. There's this incredible world that you've been
    introduced to with Gods and monsters and more things to kill
    than you could shake a stick at. There's damsels to save, gold to
    amass, wrongs to make right (or make worse if you're Chaotic Evil) -
    there are all of the things to do! With all that going on, it can
    be hard to stay "in the zone" and in character when you're adding
    up your damage, trying to visualize a dungeon, figuring out who
    you're attacking, and oh, fudge, did the Cleric REALLY just run
    out of cure spells? Your tank is DYING OVER HERE! HELLO?!?!...
    (and all of the other things that help you get those
    beloved experience points at the end of a campaign.)</p>
  <p></p>
  <p class="span-head">Alright, I get it - but why now?</p>
  <p class="span-body">Over the past few months, life has changed
    drastically. As a result of the COVID-19 pandemic, life has gone
    remote - we're no longer face-to-face; we're screen-to-screen. All
    gatherings beyond a normal size have been discouraged. "Shelter in
    place" and "Quarantine" have become phrases du jour. If we're not
    able to meet in person, how are we to play? It can be done but it
    isn't easy. By developing "Critical Index" we are affording RPG
    gamers and other tabletop enthusiasts the opportunity to play from
    the comfort of their homes without sacrificing the "feel", the
    "imagination", the "je ne sais quoi" that keeps PCs and DMs coming
    back adventure after adventure, campaign after campaign.</p>
  <p></p>
  <p class="span-head">OK, I'm on board! How do I use v1?</p>
  <p class="span-body">If you're new to RPGs this is a great place to
    start. At this point you can only enter basic character data which
    will then generate your character for you. You have the ability to
    set your own character stats (class, race, level, etc.), update the
    characters you have created, view them either as a group or solo,
    and delete any characters that you may no longer want but there
    is no further functionality at this time. If you're not new to RPGs
    we welcome your feedback (<a href="mailto:critical.index.feedback@gmail.com?Subject=Critical%20Index%20Feedback" target="_top">critical.index.feedback@gmail.com</a>)!</p>
</section>
