<!-- Create Character Form ---------------------------------------------------->
<section id="char-create-form" class="my-3" style="background-color: #000000CC;">

  <!-- Form Heading: Create Character ----------------------------------------->
  <form id="create-character" class="card bg-transparent">
    <div class="container card-body align-center">
      <h3 class="text-center"><i class="fas fa-dice-d6"></i> Character Generator:</h3>
      <hr>

      <!-- Character Name Form Row -------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Name ----------------------------------->
        <label for="char-name" class="col-sm-3 col-form-label">Name:</label>
        <!-- User Input Field for Character Name ------------------------------>
        <div class="col-sm-9">
          <input id="char-name" class="form-control" type="text" name="character[char_name]" placeholder="Name">
        </div>
      </div>

      <!-- Character Class Form Row ------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Class ---------------------------------->
        <label for="char-class" class="col-sm-3 col-form-label">Class:</label>
        <!-- User Input Field for Character Class ----------------------------->
        <div class="col-sm-9">
          <input id="char-class" class="form-control" type="text" name="character[char_class]" placeholder="Class">
        </div>
      </div>

      <!-- Character Level Form Row ------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Level ---------------------------------->
        <label for="char-level" class="col-sm-3 col-form-label">Level:</label>
        <!-- User Input Field for Character Level ----------------------------->
        <div class="col-sm-9">
          <input id="char-level" class="form-control" type="text" name="character[char_level]" placeholder="Level">
        </div>
      </div>

      <!-- Character Race Form Row -------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Race ----------------------------------->
        <label for="char-race" class="col-sm-3 col-form-label">Race:</label>
        <!-- User Input Field for Character Race ------------------------------>
        <div class="col-sm-9">
          <input id="char-race" class="form-control" type="text" name="character[char_race]" placeholder="Race">
        </div>
      </div>

      <!-- Character Alignment Form Row --------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Alignment ------------------------------>
        <label for="char-align" class="col-sm-3 col-form-label">Alignment:</label>
        <!-- User Input Field for Character Alignment ------------------------->
        <div class="col-sm-9">
          <input id="char-align" class="form-control" type="text" name="character[char_alignment]" placeholder="Alignment">
        </div>
      </div>

      <!-- Character Deity Form Row ------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Deity ---------------------------------->
        <label for="char-deity" class="col-sm-3 col-form-label">Deity:</label>
        <!-- User Input Field for Character Deity ----------------------------->
        <div class="col-sm-9">
          <input id="char-deity" class="form-control" type="text" name="character[char_deity]" placeholder="Deity">
        </div>
      </div>

      <!-- Character Gender Form Row ------------------------------------------>
      <div class="form-group row">
        <!-- Field Label for Character Gender --------------------------------->
        <label for="char-gender" class="col-sm-3 col-form-label">Gender:</label>
        <!-- User Input Field for Character Gender ---------------------------->
        <div class="col-sm-9">
          <input id="char-gender" class="form-control" type="text" name="character[char_gender]" placeholder="Gender">
        </div>
      </div>

      <!-- Character XP Form Row ---------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character XP ------------------------------------->
        <label for="char-xp" class="col-sm-3 col-form-label">XP:</label>
        <!-- User Input Field for Character XP -------------------------------->
        <div class="col-sm-9">
          <input id="char-xp" class="form-control" type="text" name="character[char_xp]" placeholder="XP">
        </div>
      </div>

      <!-- Character Campaign Form Row ---------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Campaign ------------------------------->
        <label for="char-campaign" class="col-sm-3 col-form-label">Campaign:</label>
        <!-- User Input Field for Character Campaign -------------------------->
        <div class="col-sm-9">
          <input id="char-campaign" class="form-control" type="text" name="character[char_campaign]" placeholder="Campaign">
        </div>
      </div>

      <!-- Character Languages Form Row --------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Languages ------------------------------>
        <label for="char-languages" class="col-sm-3 col-form-label">Languages:</label>
        <!-- User Input Field for Character Languages ------------------------->
        <div class="col-sm-9">
          <input id="char-languages" class="form-control" type="text" name="character[char_languages]" placeholder="Languages">
        </div>
      </div>

      <!-- Create Character Submit Button ------------------------------------->
      <div class="form-group row">
        <div class="col-sm-12 text-center">
          <input id="create-btn" type="submit" class="btn btn-outline-light ml-2" placeholder="Create"></input>
        </div>
      </div>

  <!-- Closing Tags ----------------------------------------------------------->
  </form>
</section>
