<article id="name-slogan" class="col-sm-8">
  <p class="ci-name p-3">Critical Index</p>
  <p class="ci-slogan p-3">Everything you need to fire Magic Missile at the darkness -
    right at your fingertips...</p>
</article>
