<!-- Horizontal Drop Down Form Menu: Registration/Sign-Up --------------------->
<section id="su-sect" class="col-sm-4">
  <form id="sign-up" class="card bg-transparent">
    <div class="container card-body align-center">

      <!-- Drop Down Form Heading: Registration/Sign-Up ----------------------->
      <h3 class="text-center"><i class="far fa-user"></i> Register:</h3>
      <hr>

      <!-- Horizontal Form Row: Email ----------------------------------------->
      <div class="form-group row">
        <!-- Person Image Signifying Email Address/Login ---------------------->
        <label for="su-@" class="col-sm-2 col-form-label text-center"><i class="far fa-user-circle fa-2x"></i></label>
        <!-- User Input Field for Email Address ------------------------------->
        <div class="col-sm-10">
          <input id="su-@" class="form-control" type="email" name="credentials[email]" placeholder="handle@domain.com">
        </div>
      </div>

      <!-- Horizontal Form Row: Password -------------------------------------->
      <div class="form-group row">
        <!-- Lock Image Signifying Password ----------------------------------->
        <label for="su-pw1" class="col-sm-2 col-form-label text-center"><i class="fas fa-lock fa-2x"></i></label>
        <!-- User Input Field For Password ------------------------------------>
        <div class="col-sm-10">
          <input id="su-pw1" class="form-control" type="password" name="credentials[password]" placeholder="Password">
        </div>
      </div>

      <!-- Horizontal Form Row: Password Confirmation ------------------------->
      <div class="form-group row">
        <!-- Lock Image Signifying Password Confirmation ---------------------->
        <label for="su-pw2" class="col-sm-2 col-form-label text-center"><i class="fas fa-lock fa-2x"></i></label>
        <!-- User Input Field For Password Confirmation ----------------------->
        <div class="col-sm-10">
          <input id="su-pw2" class="form-control" type="password" name="credentials[password_confirmation]" placeholder="Confirm password">
        </div>
      </div>

      <!-- "Submit" Button For Registration/Sign-Up Drop Down Form ------------>
      <div class="form-group row">
        <div class="col-sm-12 text-center">
          <input id="reg-btn" type="submit" class="btn btn-outline-light ml-2" placeholder="Register"></input>
        </div>
      </div>
      
    <!-- Closing Tags --------------------------------------------------------->
    </div>
  </form>
</section>
