<!-- Update Character Form ---------------------------------------------------->
<section id="char-create-form" class="my-3" style="background-color: #000000CC;">

  <!-- Form Heading: Update Character ----------------------------------------->
  <form id="update-character" class="card bg-transparent">
    <div class="container card-body align-center">
      <h3 class="text-center"><i class="fas fa-dice-d6"></i> Update Character:</h3>
      <hr>

      <!-- Character ID Form Row ---------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character ID ------------------------------------->
        <label for="char-id" class="col-sm-3 col-form-label">ID:</label>
        <!-- User Input Field for Character ID -------------------------------->
        <div class="col-sm-9">
          <input id="char-name" class="form-control" type="text" name="character[id]" placeholder="Character ID">
        </div>
      </div>

      <!-- Character Name Form Row -------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Name ----------------------------------->
        <label for="char-name" class="col-sm-3 col-form-label">Name:</label>
        <!-- User Input Field for Character Name ------------------------------>
        <div class="col-sm-9">
          <input id="char-name" class="form-control" type="text" name="character[char_name]" placeholder="Name">
        </div>
      </div>

      <!-- Character Alignment Form Row --------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Alignment ------------------------------>
        <label for="char-align" class="col-sm-3 col-form-label">Alignment:</label>
        <!-- User Input Field for Character Alignment ------------------------->
        <div class="col-sm-9">
          <input id="char-align" class="form-control" type="text" name="character[char_alignment]" placeholder="Alignment">
        </div>
      </div>

      <!-- Character Deity Form Row ------------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Deity ---------------------------------->
        <label for="char-deity" class="col-sm-3 col-form-label">Deity:</label>
        <!-- User Input Field for Character Deity ----------------------------->
        <div class="col-sm-9">
          <input id="char-deity" class="form-control" type="text" name="character[char_deity]" placeholder="Deity">
        </div>
      </div>

      <!-- Character Gender Form Row ------------------------------------------>
      <div class="form-group row">
        <!-- Field Label for Character Gender --------------------------------->
        <label for="char-gender" class="col-sm-3 col-form-label">Gender:</label>
        <!-- User Input Field for Character Gender ---------------------------->
        <div class="col-sm-9">
          <input id="char-gender" class="form-control" type="text" name="character[char_gender]" placeholder="Gender">
        </div>
      </div>

      <!-- Character Languages Form Row --------------------------------------->
      <div class="form-group row">
        <!-- Field Label for Character Languages ------------------------------>
        <label for="char-languages" class="col-sm-3 col-form-label">Languages:</label>
        <!-- User Input Field for Character Languages ------------------------->
        <div class="col-sm-9">
          <input id="char-languages" class="form-control" type="text" name="character[char_languages]" placeholder="Languages">
        </div>
      </div>

      <!-- Update Character Submit Button ------------------------------------->
      <div class="form-group row">
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-outline-light ml-2">Update</button>
        </div>
      </div>
      
  <!-- Closing Tags ----------------------------------------------------------->
  </form>
</section>
