@import '~bootstrap/scss/bootstrap';

body,
html {
  color: #fff;
  height: 100%;
}

hr {
  border-top: 1px dashed #fff;
}

.about-page-text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bg-000 {
  background-image: url('/public/background_000.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.bg-001 {
  background-image: url('/public/background_001.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.bg-002 {
  background-image: url('/public/background_002.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.hide {
  display: none;
}

.ci-name {
  font-size: 185px;
}

.ci-slogan {
  font-size: 40px;
}

.span-body {
  font-size: 21px;
}

.span-head {
  font-size: 42px;
}

#about {
  max-height: 760px;
  max-width: 900px;
  overflow-y: scroll;
  position: relative;
}
